/* https://colorhunt.co/palette/168262 */
:root {
    --primary-color: #ff8364;
    --primary-color-active: #5f6caf;
    --primary-color-inactive: #d3d3d6;
    --secondary-color: #f5f7fa;
    --text-dark-grey: #888888;
}